@import '../../../assets/styles/global/variables.scss';
@import '../../../assets/styles/global/mixin.scss';

.form {
  width: 318px;
  margin: auto;
  padding: 40px 20px 40px;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 30px;

  @media (min-width: $tablet-md-width) {
    width: 80%;
  }

  @media (min-width: $desktop-sm-width) {
    width: 90%;
  }

  @media (min-width: $desktop-md-width) {
    padding: 60px;
    border-radius: 50px;
  }

  @media (min-width: $desktop-lg-width) {
    padding: 3.65%;
  }
}

.list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, min-content);
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 1300px) {
    grid-template-columns: repeat(2, 48.7%);
    column-gap: 20px;
  }

  @media (min-width: $desktop-md-width) {
    grid-template-columns: repeat(2, 48.7%);
    row-gap: 34px;
  }

  @media (min-width: $desktop-lg-width) {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
