@import '../../../assets/styles/global/variables.scss';
@import '../../../assets/styles/global/mixin.scss';

.filterSection {
  margin-top: 30px;
  min-width: 360px;
  width: 100%;
  text-align: center;
}

.filterInput {
  min-width: 250px;
  max-width: 380px;
  width: 40%;
  height: 35px;
  margin-left: 10px;
  padding: 10px;
  box-sizing: border-box;
  @include font(normal, 16px, 142%);
  color: $black;
  background-color: $beige100;
  border: 1px solid $beige200;
  border-radius: 10px;

  @media (min-width: $desktop-md-width) {
    height: 40px;
    @include font(normal, 18px, 141%);
  }
}

.filterInput::placeholder {
  color: $grey300;
}

.filterInput:focus,
.filterInput:focus-visible {
  color: $black;
  border: 1px solid $orange200;
  outline: none;
}

.filterInput:hover {
  background-color: $beige200;
  cursor: pointer;
}

.filterInput:disabled {
  opacity: 0.5;
  cursor: default;
}

.filterInput:disabled:hover {
  background-color: $beige100;
  opacity: 0.5;
  cursor: default;
}

.label {
  color: $grey400;
  @include font(normal, 16px, 142%);

  @media (min-width: $desktop-md-width) {
    @include font(normal, 18px, 142%);
  }
}
