@import '../../assets/styles/global/variables.scss';
@import '../../assets/styles/global/mixin.scss';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0;
  padding: 10px;
  width: auto;
  max-width: 420px;
  @include font(normal, 16px, 36px);
  border: 1px solid $green400;
  border-radius: 10px;

  @media (min-width: $tablet-lg-width) {
    max-width: 500px;
    @include font(normal, 20px, 36px);
  }
}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.viewButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.viewIcon {
  fill: $orange200;
}

.viewButton:hover .viewIcon {
  fill: $orange300;
}

.viewButton:active .viewIcon {
  fill: $orange100;
}
